<!-- <p>dialogbox works!</p> -->
<h2 mat-dialog-title>{{ ngStringTitle }} Record Logs</h2>
<div mat-dialog-content>
  <table mat-table [dataSource]="logsData" class="mat-elevation-z8">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>
    <!-- Action Column -->
    <ng-container matColumnDef="logType">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">{{ element.logType }}</td>
    </ng-container>
    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="center-header"
      >
        Status
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        [ngClass]="'status-' + element.status.toLowerCase()"
      >
        <div
          class="badge"
          [style.background]="
            element.status.toUpperCase() === 'CLOSED'
              ? 'rgba(240, 52, 45, 0.15)'
              : element.status.toUpperCase() === 'PENDING'
              ? 'rgba(255, 159, 10, 0.15)'
              : element.status.toUpperCase() === 'PROCESSING'
              ? 'rgba(28, 195, 62, 0.15)'
              : 'rgba(116, 116, 128, 0.15)'
          "
          [style.color]="
            element.status.toUpperCase() === 'CLOSED'
              ? '#F0352D'
              : element.status.toUpperCase() === 'PENDING'
              ? '#FF9F0A'
              : element.status.toUpperCase() === 'PROCESSING'
              ? '#1CC33E'
              : '#747480'
          "
        >
          {{ element.status | uppercase }}
        </div>
      </td>
    </ng-container>
    <!-- TransactionId Column -->
    <ng-container matColumnDef="transactionId">
      <th mat-header-cell *matHeaderCellDef>
        {{ ngStringTitle === 'Email' ? 'Email ID' : 'Phone ID' }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.transactionId }}</td>
    </ng-container>    
    <!-- Customer Id Column -->
    <ng-container matColumnDef="customerId">
      <th mat-header-cell *matHeaderCellDef>Customer ID</th>
      <td mat-cell *matCellDef="let element">{{ element.customerId }}</td>
    </ng-container>
    <!-- Replied By Column -->
    <ng-container matColumnDef="repliedBy">
      <th mat-header-cell *matHeaderCellDef>Replied By</th>
      <td mat-cell *matCellDef="let element">{{ element.repliedBy }}</td>
    </ng-container>
    <!-- Received Date Column -->
    <ng-container matColumnDef="pickUpDate">
      <th mat-header-cell *matHeaderCellDef>Received Date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.pickUpDate | date : "d MMM y" }}
      </td>
    </ng-container>
    <!-- Sending Date Column -->
    <ng-container matColumnDef="takeOffDate">
      <th mat-header-cell *matHeaderCellDef>Sending Date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.takeOffDate | date : "d MMM y" }}
      </td>
    </ng-container>
    <!-- Vendor Column -->
    <ng-container matColumnDef="productVendorId">
      <th mat-header-cell *matHeaderCellDef>Vendor</th>
      <td mat-cell *matCellDef="let element">{{ element.productVendorId }}</td>
    </ng-container>
    <!-- Description Column -->
    <ng-container matColumnDef="descriptionId">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element">{{ element.descriptionId }}</td>
    </ng-container>
    <!-- Date Added Column -->
    <ng-container matColumnDef="dateAdded">
      <th mat-header-cell *matHeaderCellDef>Date Added</th>
      <td mat-cell *matCellDef="let element">
        {{ element.dateAdded | date : "d MMM y" }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<!-- <div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</div> -->
