.content {
  padding: 24px;
  transition: 0.5s;
}

mat-list-item span {
  color: #fff;
  opacity: 1;
}

mat-nav-list {
  padding: 0.5rem;
}

.category-header {
  color: #fff;
}

mat-sidenav {
  background-image: linear-gradient(
    to left,
    rgb(20, 19, 19),
    rgb(104, 103, 102)
  );
  border-radius: 0%;
  color: #fff;
  transition: width 0.4s;
  border-color: rgb(73, 74, 73);
}

mat-sidenav-container {
  background-image: linear-gradient(
    to right,
    rgb(20, 19, 19),
    rgb(104, 103, 102)
  );
  height: calc(100vh - 0px);
  color: #fff;
}

.sidenav-header {
  padding-top: 24px;
  text-align: center;
  color: #fff;
  cursor: pointer;

  > img {
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 10px;
  }

  .header-text {
    > h2 {
      margin: 0;
      font-size: 1rem;
      line-height: 1.5rem;
    }

    > p {
      margin: 0;
      font-size: 0.8rem;
      line-height: 1.5rem;
    }
  }
}

.hide-header-text {
  opacity: 0;
  transition: 0.4s;
}

.selected-menu-item {
  border-left: 2px solid;
  border-left-color: gold;
  opacity: 1;
  border-radius: 0 !important;
}

.accounts-header {
  margin-top: 8rem;
}
