.content {
  padding: 24px;
  transition: 0.5s;
}

mat-list-item span {
  color: var(--main-text);
  opacity: 1;
}

mat-nav-list {
  padding: 0.5rem;
}

.category-header {
  color: var(--main-text);
}

mat-sidenav {
  background-color: var(--main-background);
  border-radius: 0%;
  transition: width 0.4s;
  border-color: var(--border-color);
}

mat-sidenav-container {
  background-color: var(--main-background);
  height: calc(100vh - 0px);
}

.sidenav-header {
  padding-top: 24px;
  text-align: center;
  color: var(--main-text);
  cursor: pointer;
  display: inline-block;
  margin-left: 1rem;

  > img {
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 10px;
  }

  .header-text {
    display: inline-block;
    position: relative;
    bottom: 1.5rem;
    left: 1rem;
    > h2 {
      margin: 0;
      font-size: 1rem;
      line-height: 1.5rem;
    }

    > p {
      margin: 0;
      font-size: 0.8rem;
      line-height: 1.5rem;
    }
  }
}

.hide-header-text {
  opacity: 0;
  transition: 0.4s;
}

.selected-menu-item {
  border-left: 2px solid;
  border-left-color: var(--button-background);
  opacity: 1;
}

mat-list-item.selected-menu-item {
  border-radius: 0;
}

.accounts-header {
  position: fixed;  
  bottom: 0;        
  left: 10px;         
  z-index: 1000;   
}

@media (max-width: 768px) {
  .accounts-header {
    padding: 8px; /* Adjust padding for smaller screens */
  }
}

.sidenav-toggle-btn {
  display: inline-block;
  position: relative;
  bottom: 1rem;
  left: 5rem;
}