* {
  color: white;
  font-style: normal;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-field > input,
select,
option {
  padding: 12px;
  border-radius: 6px;
  background-color: rgba(120, 120, 128, 0.36);
}

label {
  padding-bottom: 12px;
}

.flex-container > * {
  flex: 1;
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  flex: 1;
}

mat-dialog-actions {
  padding: 0;
  justify-content: flex-end;
  gap: 8px;
}

mat-error {
  color: #ffb4ab;
}
