<div style="padding: 1rem">
  <h4
    mat-dialog-title
    style="border-bottom: 1px solid rgba(120, 120, 128, 0.36)"
  >
    {{ action === "Add" ? "Add User" : "Edit User" }}
  </h4>

  <form [formGroup]="userForm" (ngSubmit)="upsert()" style="margin: 1rem">
    <!-- Username -->
    <label>Username</label>
    <mat-form-field appearance="outline">
      <input matInput formControlName="username" />
      @if (userForm.get('username')?.hasError('required')){
      <mat-error> Username is required. </mat-error>
      }
    </mat-form-field>

    <!-- Fullname -->
    <label>Fullname</label>
    <mat-form-field appearance="outline">
      <input matInput formControlName="fullName" />
      @if (userForm.get('fullName')?.hasError('required')) {
      <mat-error> Full name is required. </mat-error>
      }
    </mat-form-field>

    <!-- Password -->
    <label>Password</label>
    <mat-form-field appearance="outline">
      <input
        matInput
        [type]="hide() ? 'password' : 'text'"
        formControlName="password"
      />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="togglePasswordVisibility($event)"
      >
        <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
      </button>

      @if (userForm.get('password')?.hasError('required')) {
      <mat-error> Password is required. </mat-error>
      }
    </mat-form-field>

    <!-- User Group Dropdown -->
    <label>Usergroup</label>
    <mat-form-field appearance="outline">
      <mat-select formControlName="userGroup">
        <mat-option value="Admin">Admin</mat-option>
        <mat-option value="Leader">Leader</mat-option>
        <mat-option value="Officer">Officer</mat-option>
      </mat-select>
      @if(userForm.get('userGroup')?.hasError('required')) {
      <mat-error> User group is required. </mat-error>
      }
    </mat-form-field>

    <!-- Actions buttons -->
    <mat-dialog-actions>
      <button color="primary" class="btn btn-confirm" type="submit">
        {{ action === "Add" ? "Confirm" : "Update" }}
      </button>
      <button mat-dialog-close class="btn btn-cancel">Cancel</button>
    </mat-dialog-actions>
  </form>
</div>
