<section class="change-password-wrapper">
  <h2 class="page-header">Change Password</h2>
  <mat-card appearance="outlined" class="personal-details">
    <div class="header-wrapper">
      <mat-card-header>
        <h2 class="page-subheader">Personal Details</h2>
      </mat-card-header>
    </div>

    <mat-card-content>
      <form [formGroup]="userForm">
        <!-- One form for all fields -->
        <div class="personal-details-wrapper">
          <div class="field-wrapper">
            <label>Username:</label>
            <mat-form-field appearance="outline">
              <input matInput formControlName="username" readonly="" value="" />
            </mat-form-field>
          </div>
          <div class="field-wrapper">
            <label>Fullname:</label>
            <mat-form-field appearance="outline">
              <input matInput formControlName="fullName" readonly="" />
            </mat-form-field>
          </div>
          <div class="field-wrapper">
            <label>Usergroup:</label>
            <mat-form-field appearance="outline">
              <input matInput formControlName="userGroup" readonly="" />
            </mat-form-field>
          </div>
          <div class="field-wrapper">
            <label>Status:</label>
            <mat-form-field appearance="outline">
              <input matInput formControlName="status" readonly="" />
            </mat-form-field>
          </div>
        </div>

        <div class="field-wrapper">
          <label>Current Password:</label>
          <mat-form-field appearance="outline">
            <input
              matInput
              formControlName="password"
              [type]="hidePassword.currentPassword ? 'password' : 'text'"
              readonly
            />
            <button
              type="button"
              mat-icon-button
              matSuffix
              (click)="togglePasswordVisibility('currentPassword')"
            >
              <mat-icon>{{
                hidePassword.currentPassword ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </form>
      <form [formGroup]="passwordForm">
        <div class="field-wrapper">
          <label>New Password:</label>
          <mat-form-field appearance="outline">
            <input
              matInput
              formControlName="newPassword"
              [type]="hidePassword.newPassword ? 'password' : 'text'"
            />
            <button
              type="button"
              mat-icon-button
              matSuffix
              (click)="togglePasswordVisibility('newPassword')"
            >
              <mat-icon>{{
                hidePassword.newPassword ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div class="field-wrapper">
          <label>Confirm Password:</label>
          <mat-form-field appearance="outline">
            <input
              matInput
              formControlName="confirmPassword"
              [type]="hidePassword.confirmPassword ? 'password' : 'text'"
            />
            <button
              type="button"
              mat-icon-button
              matSuffix
              (click)="togglePasswordVisibility('confirmPassword')"
            >
              <mat-icon>{{
                hidePassword.confirmPassword ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
            <mat-error
              *ngIf="passwordForm.get('confirmPassword')?.hasError('mismatch')"
            >
              Password mismatch
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Actions buttons -->
        @if (passwordForm.get('newPassword')?.dirty &&
        passwordForm.get('confirmPassword')?.dirty) {
        <div class="dialog-action-wrapper">
          <mat-dialog-actions class="dialog-action-custom">
            <button
              color="primary"
              class="btn btn-confirm"
              type="submit"
              [disabled]="isSubmitting"
              (click)="saveChanges()"
            >
              Save Changes
            </button>
          </mat-dialog-actions>
        </div>
        }
      </form>
    </mat-card-content>
  </mat-card>
</section>
