<section class="change-password-wrapper">
  <h2 class="page-header">Profile Settings</h2>
  <mat-card appearance="outlined" class="personal-details">
    <mat-card-header>
      <h2 class="page-subheader">Personal Details</h2>
    </mat-card-header>
    <mat-card-content>
      <form>
        <div class="personal-details-wrapper">
          <div class="field-wrapper">
            <label>Username:</label>
            <mat-form-field appearance="outline">
              <input matInput formControlName="username" readonly="" />
            </mat-form-field>
          </div>
          <div class="field-wrapper">
            <label>Fullname:</label>
            <mat-form-field appearance="outline">
              <input matInput formControlName="fullname" readonly="" />
            </mat-form-field>
          </div>
          <div class="field-wrapper">
            <label>Email:</label>
            <mat-form-field appearance="outline">
              <input matInput formControlName="email" readonly="" />
            </mat-form-field>
          </div>
          <div class="field-wrapper">
            <label>User Group:</label>
            <mat-form-field appearance="outline">
              <input matInput formControlName="usergroup" readonly="" />
            </mat-form-field>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  <mat-card appearance="outlined">
    <mat-card-header class="card-header">
      <h2 class="page-subheader">Change Password</h2>
      <p>To change your password, edit and save from here</p>
    </mat-card-header>
    <mat-card-content>
      <form>
        <div class="field-wrapper">
          <label>Current Password:</label>
          <mat-form-field appearance="outline">
            <input
              matInput
              formControlName="password"
              [type]="hidePassword.currentPassword ? 'password' : 'text'"
              readonly
            />
            <button
              type="button"
              mat-icon-button
              matSuffix
              (click)="togglePasswordVisibility('currentPassword')"
            >
              <mat-icon>{{
                hidePassword.currentPassword ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="field-wrapper">
          <label>New Password:</label>
          <mat-form-field appearance="outline">
            <input
              matInput
              formControlName="newPassword"
              [type]="hidePassword.newPassword ? 'password' : 'text'"
            />
            <button
              type="button"
              mat-icon-button
              matSuffix
              (click)="togglePasswordVisibility('newPassword')"
            >
              <mat-icon>{{
                hidePassword.newPassword ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="field-wrapper">
          <label>Confirm Password:</label>
          <mat-form-field appearance="outline">
            <input
              matInput
              formControlName="confirmPassword"
              [type]="hidePassword.confirmPassword ? 'password' : 'text'"
            />
            <button
              type="button"
              mat-icon-button
              matSuffix
              (click)="togglePasswordVisibility('confirmPassword')"
            >
              <mat-icon>{{
                hidePassword.confirmPassword ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
          </mat-form-field>
          <!-- Actions buttons -->
          <div class="dialog-action-wrapper">
            <mat-dialog-actions class="dialog-action-custom">
              <button
                color="primary"
                class="btn btn-confirm"
                type="submit"
                [disabled]="isSubmitting"
              >
                Confirm
              </button>
              <button mat-dialog-close class="btn btn-cancel">Cancel</button>
            </mat-dialog-actions>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</section>
