.page-header {
  font-weight: 600;
  font-size: 1rem;
}
.page-subheader {
  font-weight: 600;
  font-size: 0.85rem;
}

mat-card {
  font-size: 12px;
  background-color: var(--main-background);
}

mat-card-header {
  border-bottom: 1px solid rgba(120, 120, 128, 0.36);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.personal-details {
  margin-bottom: 2rem;
}

.personal-details-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1rem;
}

.personal-details-wrapper * {
  width: 100%;
}

.field-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.card-header {
  display: block;
}

.btn-confirm {
  background-color: var(--confirm);
}

.btn-cancel {
  background-color: var(--cancel);
}

.btn {
  color: white;
  border-radius: 12px;
  padding: 12px;
}

.dialog-action-wrapper {
  display: flex;
  justify-content: end;
}
.dialog-action-custom {
  display: flex;
  gap: 8px;
}

@media (max-width: 600px) {
  .personal-details-wrapper {
    grid-template-columns: auto;
  }
}
