<mat-card>
  <mat-card-header>
    <h1 matCardTitle>Phone Entry Form</h1>
  </mat-card-header>
  <br />
  <mat-card-content>
    <form
      (ngSubmit)="onSubmit()"
      name="phoneEntryForm"
      [formGroup]="phoneEntryForm"
    >
      <mat-label>Phone ID: </mat-label><br />
      <mat-form-field class="full-width" appearance="outline">
        <input formControlName="phoneId" matInput readonly />
      </mat-form-field>
      <mat-label>Customer ID: </mat-label>
      <br />
      <mat-form-field class="half-width" appearance="outline">
        <input
          formControlName="customerId"
          matInput
          placeholder="Please enter the customer ID"
        />
      </mat-form-field>
      <button
        type="button"
        mat-raised-button
        (click)="openDialog()"
        class="history-btn"
      >
        <mat-icon>history </mat-icon>
        History
      </button>

      <mat-form-field class="date-picker" appearance="outline">
        <mat-label>Pick up Date</mat-label>
        <input formControlName="pickUpDate" matInput [matDatepicker]="picker" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="date-picker" appearance="outline">
        <mat-label>Take off Date</mat-label>
        <input
          formControlName="takeOffDate"
          matInput
          [matDatepicker]="takeOff"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="takeOff"
        ></mat-datepicker-toggle>
        <mat-datepicker #takeOff></mat-datepicker>
      </mat-form-field>
      <br />

      <mat-label>Product / Vendor: </mat-label><br />
      <mat-form-field class="full-width" appearance="outline">
        <mat-select
          id="productVendor"
          formControlName="productVendor"
          placeholder="Choose a description"
        >
          <mat-option
            *ngFor="let item of productVendorList"
            [value]="item.id"
            (click)="onProductVendorSelect(item.id)"
            >{{ item.productVendor }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <div *ngIf="descriptionSuggest">
        <mat-label>Description: </mat-label><br />
        <mat-form-field class="full-width" appearance="outline">
          <input
            type="text"
            formControlName="description"
            [matAutocomplete]="auto"
            matInput
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let item of filteredOption | async"
              [value]="item.description"
              (click)="onDescriptionSelect(item.productVendorId)"
              >{{ item.description }}</mat-option
            >
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div *ngIf="!descriptionSuggest">
        <mat-label>Description: </mat-label><br />
        <mat-form-field class="full-width" appearance="outline">
          <input
            type="text"
            formControlName="description"
            [matAutocomplete]="auto"
            matInput
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let item of filteredDescriptions"
              [value]="item.description"
              (onSelectionChange)="onDescriptionSelect(item.productVendorId)"
              (blur)="onDescriptionSelect(item.productVendorId)"
              >{{ item.description }}</mat-option
            >
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <mat-label>Remark: </mat-label><br />
      <mat-form-field class="full-width" appearance="outline">
        <textarea
          id="remark"
          formControlName="remark"
          placeholder="Enter a remark"
          matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="7"
          cdkAutosizeMaxRows="7"
        ></textarea>
      </mat-form-field>
      <mat-label>Replied By: </mat-label><br />
      <mat-form-field class="full-width" appearance="outline">
        <mat-select
          id="repliedBy"
          formControlName="repliedBy"
          placeholder="Choose from dropdown"
        >
          <mat-option
            *ngFor="let item of userAccountList"
            [value]="item.fullName"
            >{{ item.fullName }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-label>Status: </mat-label><br />
      <mat-form-field class="full-width" appearance="outline">
        <mat-select
          id="status"
          formControlName="status"
          placeholder="Choose a status"
        >
          <mat-option value="Processing">Processing</mat-option>
          <mat-option value="Pending">Pending</mat-option>
          <mat-option value="Closed">Closed</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-dialog-actions>
        <div class="btn-container">
          <button
            type="submit"
            [disabled]="phoneEntryForm.invalid"
            mat-mini-fab
            class="submit-btn"
          >
            Submit
          </button>
          <button
            mat-dialog-close
            type="button"
            mat-mini-fab
            class="cancel-btn"
          >
            Cancel
          </button>
        </div>
      </mat-dialog-actions>
    </form>
  </mat-card-content>
</mat-card>
