<div style="padding: 1rem; color: white">
    <h4
      mat-dialog-title
      style="border-bottom: 1px solid rgba(120, 120, 128, 0.36)"
    >
      Delete data
    </h4>
    <mat-dialog-content style="margin: 1rem">
      <div class="form-field">Are you sure you want to delete this data?</div>
    </mat-dialog-content>
    <mat-dialog-actions style="gap: 4px">
      <button mat-dialog-close cdkFocusInitial class="btn btn-delete">
        Delete
      </button>
      <button mat-dialog-close class="btn btn-cancel">Cancel</button>
    </mat-dialog-actions>
  </div>
  