/* * { */
/* color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal; */
/* font-size: 0.75rem; */
/* } */

.center-header {
  text-align: right;
}

thead {
  text-align: center;
}

.page-header {
  font-weight: 600;
  font-size: 1rem;
}

/* Filter Bar */
.filter-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-bottom: 1.5em;
  align-items: center;
}

.filter-input,
.filter-select,
.filter-date {
  flex: 1;
}

.filter-bar {
  background-color: var(--main-background); /* Blue for buttons */
  border: none;
  padding: 0.5em 1em;
  border-radius: 4px;
  cursor: pointer;
}

.filter-bar button:hover {
  background-color: #09233c; /* Darker blue on hover */
}

/* .btn-primary {
  border-radius: 6px;
  background-color: #0a84ff;
  border: 1px solid #0a84ff;
  color: white;
  padding: 12px;
  display: flex;
  align-items: center;
} */
mat-card {
  font-size: 12px;
  background-color: var(--main-background);
}

mat-card-header {
  border-bottom: 1px solid rgba(120, 120, 128, 0.36);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.mat-mdc-table {
  border-radius: 6px;
  background-color: transparent;
  margin-bottom: 1rem;
}

.mat-mdc-header-cell,
.mat-mdc-cell {
  text-align: center;
  word-wrap: break-word; /* Allows breaking long words */
  word-break: break-word; /* Forces break within long words */
  white-space: normal; /* Allows wrapping */
  max-width: 150px; /* Optional: Limit column width */
}

.cdk-text-column {
  text-align: center;
}

.badge {
  padding: 6px 8px;
  text-align: center;
  border-radius: 6px;
  font-weight: 500;
  /* font-size: 0.7rem; */
}

.mat-mdc-paginator {
  background-color: var(--main-background);

  font-weight: 400;
  font-style: normal;
  /* font-size: 0.75rem; */
}

button.add-btn {
  margin: 1rem;
  background-color: var(--button-background);
  color: var(--secondary-text);
  margin: 0.5rem;
  border-radius: 12px;
}
