body {
  background-color: black;
}
mat-card {
  max-width: 32rem;
  margin: 2em auto;
  text-align: center;
  max-height: 48rem;
  background-image: linear-gradient(
    to top,
    rgb(20, 19, 19),
    rgb(104, 103, 102)
  );

  color: #fff;
  margin-top: 200px;
}

.header {
  text-align: center;
}

.full-width {
  width: 80%;
}

.forgot-password {
  padding-left: 0px;
}

.email-input {
  color: #fff;
  padding-top: 10px;
}

.aLink {
  float: right;
  padding-right: 60px;
  text-decoration: none;
}

.login-btn {
  margin: 1rem;
  background-image: linear-gradient(
    to bottom,
    rgb(198, 201, 226),
    rgb(3, 76, 145)
  );
  color: #fff !important;
  margin: 0.5rem;
  border-radius: 12px;
}
