<mat-card style="margin-top: 200px">
  <mat-card-content>
    <div class="header">
      <img
        width="100"
        height="100"
        style="border-radius: 100%"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQathrq-9gMB7p7vlRZHMW_20kLCa21AKoODg&s"
        alt=""
      />
      <h1>CNCS</h1>
      <h2>Best Resource Customer Service App</h2>
      <p>Please log in your credentials</p>
    </div>
    <form (ngSubmit)="onLogin()" name="loginform" [formGroup]="loginForm">
      <div class="username-input">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Username</mat-label>
          <input
            style="color: #fff"
            formControlName="username"
            matInput
            [(ngModel)]="loginObj.username"
            required
          />
          <mat-error *ngIf="loginForm.get('username')">
            Required Username
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <span class="aLink">Forgot Password</span>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input
            style="color: #fff"
            formControlName="password"
            matInput
            [(ngModel)]="loginObj.password"
            [type]="hide ? 'password' : 'text'"
            required
          />
          <mat-icon
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide Password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </mat-icon>
          <mat-error *ngIf="loginForm.get('password')">
            Required password
          </mat-error>
        </mat-form-field>
      </div>
      <button mat-flat-button color="primary">Login</button>
    </form>
  </mat-card-content>
</mat-card>
