<mat-card>
  <mat-card-content>
    <div class="header">
      <img
        width="100"
        height="100"
        style="border-radius: 100%"
        src="/CNCS_PrototypeLogo_PNG.png"
        alt=""
      />
      <h1>CNCS</h1>
      <h2>Best Resource Customer Service App</h2>
      <p>Please log in your credentials</p>
    </div>
    <form (ngSubmit)="onLogin()" name="loginform" [formGroup]="loginForm">
      <div class="username-input">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Username</mat-label>
          <input
            formControlName="username"
            matInput
            [(ngModel)]="loginObj.username"
            required
          />
          <mat-error *ngIf="loginForm.get('username')">
            Required Username
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input
            formControlName="password"
            matInput
            [(ngModel)]="loginObj.password"
            [type]="hide ? 'password' : 'text'"
            required
          />
          <mat-icon
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide Password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </mat-icon>
          <mat-error *ngIf="loginForm.get('password')">
            Required password
          </mat-error>
        </mat-form-field>

        <mat-checkbox class="remember-me" formControlName="rememberMe"
          >Remember Me</mat-checkbox
        >
        <a class="forgot-pass">Forgot Password?</a>
        <br />
      </div>
      <button type="submit" mat-raised-button class="login-btn">Login</button>
    </form>
  </mat-card-content>
</mat-card>
