<mat-card appearance="outlined">
  <mat-card-header>
    <!-- Main Content -->
    <div class="main-content">
      <h2>Email Records</h2>
      <p>Here is a list of all email records</p>
      <button (click)="openDialog()" class="btn btn-primary">
        <mat-icon>add</mat-icon>
        Add Email Record
      </button>
    </div>
  </mat-card-header>

  <mat-card-content>
    <div class="container mat-elevation-z4">
      <!-- Search and Filter Section -->
      <!--(input)="filterSearch()" //removed @ line 21-->
      <div class="filter-bar">
        <mat-form-field appearance="outline" class="filter-input">
          <mat-label>Search</mat-label>
          <input
            matInput
            placeholder="Search by Customer ID or Email ID"
            [(ngModel)]="searchTerm"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="filter-select">
          <mat-label>Filter by</mat-label>
          <mat-select [(ngModel)]="filterBy">
            <mat-option value="customerId">Customer ID</mat-option>
            <mat-option value="emailId">Email ID</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="filter-date">
          <mat-label>Date From</mat-label>
          <input matInput [matDatepicker]="picker1" [(ngModel)]="dateFrom" />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker1"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="filter-date">
          <mat-label>Date To</mat-label>
          <input matInput [matDatepicker]="picker2" [(ngModel)]="dateTo" />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker2"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="applyFilter()">
          Search
        </button>
      </div>

      <!-- Data Table -->
      <div *ngIf="searchTerm"></div>
      <table
        mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8 rounded-table"
        matSort
      >
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td
            mat-cell
            *matCellDef="let element"
            [ngClass]="'status-' + element.status.toLowerCase()"
          >
            <div
              class="badge"
              [style.background]="
                element.status.toUpperCase() === 'CLOSED'
                  ? 'rgba(240, 52, 45, 0.15)'
                  : element.status.toUpperCase() === 'PENDING'
                  ? 'rgba(255, 159, 10, 0.15)'
                  : element.status.toUpperCase() === 'PROCESSING'
                  ? 'rgba(28, 195, 62, 0.15)'
                  : 'rgba(116, 116, 128, 0.15)'
              "
              [style.color]="
                element.status.toUpperCase() === 'CLOSED'
                  ? '#F0352D'
                  : element.status.toUpperCase() === 'PENDING'
                  ? '#FF9F0A'
                  : element.status.toUpperCase() === 'PROCESSING'
                  ? '#1CC33E'
                  : '#747480'
              "
            >
              {{ element.status | uppercase }}
            </div>
          </td>
        </ng-container>

        <!-- Email ID Column -->
        <ng-container matColumnDef="transactionId">
          <th mat-header-cell *matHeaderCellDef>Email ID</th>
          <td mat-cell *matCellDef="let element">
            {{ element.transactionId }}
          </td>
        </ng-container>

        <!-- Customer ID Column -->
        <ng-container matColumnDef="customerId">
          <th mat-header-cell *matHeaderCellDef>Customer ID</th>
          <td mat-cell *matCellDef="let element">{{ element.customerId }}</td>
        </ng-container>

        <!-- Customer Replied By Column -->
        <ng-container matColumnDef="repliedBy">
          <th mat-header-cell *matHeaderCellDef>Replied By</th>
          <td mat-cell *matCellDef="let element">{{ element.repliedBy }}</td>
        </ng-container>

        <!-- Customer Received Date Column -->
        <ng-container matColumnDef="pickUpDate">
          <th mat-header-cell *matHeaderCellDef>Received Date</th>
          <td mat-cell *matCellDef="let element">
            {{ element.pickUpDate | date : "d MMM y" }}
          </td>
        </ng-container>

        <!-- Customer Sending Date Column -->
        <ng-container matColumnDef="takeOffDate">
          <th mat-header-cell *matHeaderCellDef>Sending Date</th>
          <td mat-cell *matCellDef="let element">
            {{ element.takeOffDate | date : "d MMM y" }}
          </td>
        </ng-container>

        <!-- Customer Vendor Column -->
        <ng-container matColumnDef="productVendorId">
          <th mat-header-cell *matHeaderCellDef>Vendor</th>
          <td mat-cell *matCellDef="let element">
            {{ element.productVendorId }}
          </td>
        </ng-container>

        <!-- Customer Description Column -->
        <ng-container matColumnDef="descriptionId">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let element">
            {{ element.descriptionId }}
          </td>
        </ng-container>

        <!-- Customer Date Added Column -->
        <ng-container matColumnDef="dateAdded">
          <th mat-header-cell *matHeaderCellDef>Date Added</th>
          <td mat-cell *matCellDef="let element">
            {{ element.dateAdded | date : "d MMM y" }}
          </td>
        </ng-container>

        <!-- isDeleted Column - For Debugging only -->
        <!-- <ng-container matColumnDef="isDeleted">
          <th mat-header-cell *matHeaderCellDef>isDeleted</th>
          <td mat-cell *matCellDef="let element">
            {{ element.isDeleted }}
          </td>
        </ng-container> -->

        <!-- Customer Action Column -->
        <ng-container matColumnDef="actionColumn">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            <div class="example-button-row">
              <div class="example-flex-container">
                <button
                  mat-icon-button
                  aria-label="Example icon button with a vertical three dot icon"
                  [matMenuTriggerFor]="menu"
                  #menuTrigger
                >
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button
                    mat-menu-item
                    (click)="showLogs(element.transactionId)"
                  >
                    <mat-icon>visibility</mat-icon>
                    Show Logs
                  </button>
                  <button mat-menu-item (click)="showEdit('editAction')">
                    <mat-icon>edit</mat-icon>
                    Edit
                  </button>
                  <button mat-menu-item (click)="deleteRecord(element.id)">
                    <mat-icon>delete</mat-icon>
                    Delete
                  </button>
                </mat-menu>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <!-- Pagination -->
      <mat-paginator
        [pageSize]="pageSize"
        [length]="records.length"
        [pageIndex]="pageIndex"
        (page)="onPageChange($event)"
        showFirstLastButtons
      >
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
