/* * {
  color: white;
  font-style: normal;
} */

.page-header {
  font-weight: 600;
  font-size: 1rem;
}

mat-card {
  font-size: 12px;
  background-color: var(--main-background);
}

mat-card-header {
  border-bottom: 1px solid rgba(120, 120, 128, 0.36);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.mat-mdc-table {
  border-radius: 3px;
  background-color: transparent;
  margin-bottom: 1rem;
}

.mat-mdc-cell,
.mat-mdc-header-cell {
  text-align: center;
}
.badge {
  padding: 6px 8px;
  text-align: center;
  border-radius: 3px;
  font-weight: 500;
}

.mat-mdc-paginator {
  background-color: var(--main-background);
  font-weight: 400;
  font-style: normal;
}

button.add-btn {
  margin: 1rem;
  background-color: var(--button-background);
  color: var(--secondary-text);
  margin: 0.5rem;
  border-radius: 12px;
}