<mat-card appearance="outlined">
  <mat-card-header>
    <div class="example-button-container">
      <!-- mat-fab
      extended -->
      <h2 class="page-header">User Management</h2>
      <button mat-raised-button (click)="openDialog()" class="add-btn">
        <mat-icon>add</mat-icon>
        Add User
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8 rounded-table"
    >
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>NO.</th>
        <td mat-cell *matCellDef="let element">
          {{ element.id | numberPadding : 4 }}
        </td>
      </ng-container>

      <!-- Username Column -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>USERNAME</th>
        <td mat-cell *matCellDef="let element">
          {{ element.username | titlecase }}
        </td>
      </ng-container>

      <!-- Fullname Column -->
      <ng-container matColumnDef="fullname">
        <th mat-header-cell *matHeaderCellDef>FULLNAME</th>
        <td mat-cell *matCellDef="let element">
          {{ element.fullName | titlecase }}
        </td>
      </ng-container>

      <!-- Password Column -->
      <ng-container matColumnDef="password">
        <th mat-header-cell *matHeaderCellDef>PASSWORD</th>
        <!-- <td mat-cell *matCellDef="let element">{{ element.password }}</td> -->
        <td mat-cell *matCellDef="let element" class="password-field-col">
          <div class="password-field-container">
            <input
              type="password"
              [(ngModel)]="element.password"
              readonly
              class="password-field"
            />
          </div>
        </td>
      </ng-container>

      <!-- Date Added Column -->
      <ng-container matColumnDef="dateadded">
        <th mat-header-cell *matHeaderCellDef>DATE ADDED</th>
        <td mat-cell *matCellDef="let element">
          {{ element.dateAdded | date : "d MMM y" }}
        </td>
      </ng-container>

      <!-- User Group Column -->
      <ng-container matColumnDef="usergroup">
        <th mat-header-cell *matHeaderCellDef>USERGROUP</th>
        <td mat-cell *matCellDef="let element">
          {{ element.userGroup | titlecase }}
        </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>STATUS</th>
        <td mat-cell *matCellDef="let element">
          <div
            class="badge"
            [style.background]="
              element.status == ACTIVE
                ? 'rgba(28, 204, 62, 0.15)'
                : element.status == INACTIVE
                ? 'rgba(255, 159, 10, 0.15)'
                : 'rgba(240, 52, 45, 0.15)'
            "
            [style.color]="
              element.status == ACTIVE
                ? '#1CC33E'
                : element.status == INACTIVE
                ? '#FF9F0A'
                : '#F0352D'
            "
          >
            {{ element.status | uppercase }}
          </div>
        </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>ACTION</th>
        <td mat-cell *matCellDef="let element">
          <div class="example-button-row">
            <div class="example-flex-container">
              <button
                mat-icon-button
                aria-label="Example icon button with a vertical three dot icon"
                [matMenuTriggerFor]="menu"
                #menuTrigger
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openDialog(element.id)">
                  Edit
                </button>
                <!-- removed as per new requirements -->
                <!-- <button mat-menu-item (click)="confirmDelete(element.id)">
                  Delete
                </button> -->
              </mat-menu>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        class="bg-row"
      ></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </mat-card-content>
</mat-card>
