mat-card {
  border: solid rgb(47, 46, 46) 1px;
  color: #fff;
  background-image: linear-gradient(
    to bottom,
    rgb(20, 19, 19),
    rgb(104, 103, 102)
  );
  font-size: 12px;
  overflow: hidden;
}
mat-card-header {
  color: #fff;
}
mat-card-content {
  font-size: 12px;
  height: 100%;
}
mat-form-field {
  font-size: 12px;
}
mat-label {
  font-size: 12px;
}
mat-select {
  font-size: 12px;
}

mat-option {
  font-size: 12px;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.pickup-label {
  margin-left: 52rem;
}

.takeoff-label {
  margin-left: 13rem;
}

.history-btn {
  background-image: linear-gradient(
    to bottom,
    rgb(198, 201, 226),
    rgb(3, 76, 145)
  );
  color: #fff;
  margin-left: 2em;
  width: 8rem;
  height: 3em;
}

.date-picker {
  margin-left: 2em;
}

.btn-container {
  text-align: right;
}

.submit-btn {
  margin-right: 0.5rem;
  background-image: linear-gradient(
    to bottom,
    rgb(158, 224, 158),
    rgb(8, 234, 8)
  );
  color: #fff;
  width: 8em;
  height: 3em;
}

.submit-btn:disabled {
  background-image: linear-gradient(
    to bottom,
    rgb(57, 57, 57),
    rgb(37, 36, 36)
  );
  color: #5e686f;
}

.cancel-btn {
  background-image: linear-gradient(
    to bottom,
    rgb(236, 145, 145),
    rgb(240, 42, 3)
  );
  color: #fff;
  width: 8em;
  height: 3em;
}
