/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  overflow-y: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: linear-gradient(
    to top,
    rgb(20, 19, 19),
    rgb(104, 103, 102)
  );
}

/* Color Variables */
:root {
  /* basic */
  --primary: #0a84ff;
  --confirm: #1ccc3e;
  --cancel: #f0352d;
  --delete: #ff9f0a;
}
