/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  overflow-y: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: linear-gradient(
    to top,
    rgb(20, 19, 19),
    rgb(104, 103, 102)
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn {
  color: white;
  border-radius: 6px;
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn-confirm {
  background-color: #1ccc3e;
}
.btn-cancel {
  background-color: #f0352d;
}
.btn-primary {
  background-color: #0a84ff;
}
.btn-delete {
  background-color: #ff9f0a;
}

mat-icon {
  font-family: "Material Icons" !important;
  font-size: 1.5rem;
}
